<div class="panel panel-default col-sm-8 col-sm-offset-2">
  <div class="panel-body">
    <h2 style="text-align: right">روستوران جدید</h2>
    <%= render 'form', restaurant: @restaurant %>
  </div>
</div>

<%= link_to 'Back', restaurants_path %>
